h1 {
  border: 3px rgb(153, 17, 17);
  border-top-style: double;
  border-bottom-style: double;
  color: rgb(153, 17, 17);
  background-color: rgb(241, 214, 214);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body{
    max-width: 500px;
    margin: auto;
}

.border{
    border: 3px solid blue;
    background-color: rgb(214, 214, 248);
}
h2{
    color: blue;
}